## Day 16

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Airbnb_open_data.csv")
df.head()

C:\Users\padil\AppData\Local\Temp\ipykernel_12924\3775780373.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_open_data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [5]:
df.iloc[:, 25].value_counts(dropna=False).head(10)

license
NaN         102597
41662/AL         2
Name: count, dtype: int64

In [7]:
df.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [8]:
df.shape

(102599, 26)

**column removal: license**
- The license column contained over 99% missing values, making it non-informative.
- it is being removed to reduce noise and improve data quality for downstream analysis

In [9]:
df = df.drop(columns=['license'])

In [10]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules'],
      dtype='object')

In [43]:
drop_cols = [
    "house_rules",      # unstructured text
    "country_code",     # constant
    "country",          # constant
]
df = df.drop(columns=drop_cols, errors="ignore")

In [44]:
for col in ["price", "service fee"]:
    df[col] = df[col].replace(r"[\$,]", "", regex=True).astype(float)
    df[col] = df[col].fillna(df[col].median())

In [45]:
df.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified                0
host name                             0
neighbourhood group                   0
neighbourhood                         0
lat                                   0
long                                  0
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   213
price                                 0
service fee                           0
minimum nights                        0
number of reviews                     0
last review                       15892
reviews per month                     0
review rate number                    0
calculated host listings count        0
availability 365                      0
has_reviews                           0
dtype: int64

In [46]:
df["last review"] = pd.to_datetime(df["last review"], errors="coerce")

In [47]:
df["reviews per month"] = df["reviews per month"].fillna(0)

In [48]:
df.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified                0
host name                             0
neighbourhood group                   0
neighbourhood                         0
lat                                   0
long                                  0
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   213
price                                 0
service fee                           0
minimum nights                        0
number of reviews                     0
last review                       15892
reviews per month                     0
review rate number                    0
calculated host listings count        0
availability 365                      0
has_reviews                           0
dtype: int64

In [49]:
df["NAME"] = df["NAME"].fillna("Unknown")
df["host name"] = df["host name"].fillna("Unknown")

In [50]:
df["host_identity_verified"] = df["host_identity_verified"].fillna("Unknown")

In [51]:
df["neighbourhood"] = df["neighbourhood"].fillna("Unknown")
df["neighbourhood group"] = df["neighbourhood group"].fillna("Unknown")

In [52]:
df = df.dropna(subset=["lat", "long"])

In [53]:
df["minimum nights"] = df["minimum nights"].fillna(
    df["minimum nights"].median()
)

In [54]:
df["number of reviews"] = df["number of reviews"].fillna(0)

In [55]:
df["review rate number"] = df["review rate number"].fillna(
    df["review rate number"].median()
)

In [56]:
df["calculated host listings count"] = df[
    "calculated host listings count"
].fillna(df["calculated host listings count"].median())

In [57]:
df["availability 365"] = df["availability 365"].fillna(
    df["availability 365"].median()
)

In [58]:
df["last review"] = pd.to_datetime(df["last review"], errors="coerce")
df["has_reviews"] = df["last review"].notna().astype(int)

In [59]:
df.isna().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified                0
host name                             0
neighbourhood group                   0
neighbourhood                         0
lat                                   0
long                                  0
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   213
price                                 0
service fee                           0
minimum nights                        0
number of reviews                     0
last review                       15892
reviews per month                     0
review rate number                    0
calculated host listings count        0
availability 365                      0
has_reviews                           0
dtype: int64

In [60]:
df["country code"] = df["country code"].fillna("Unknown")

In [61]:
df["instant_bookable"] = df["instant_bookable"].fillna("Unknown")

In [62]:
df["cancellation_policy"] = df["cancellation_policy"].fillna("Unknown")

In [63]:
df["Construction year"] = df["Construction year"].fillna(
    df["Construction year"].median()
)

In [64]:
df.isna().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified                0
host name                             0
neighbourhood group                   0
neighbourhood                         0
lat                                   0
long                                  0
country code                          0
instant_bookable                      0
cancellation_policy                   0
room type                             0
Construction year                     0
price                                 0
service fee                           0
minimum nights                        0
number of reviews                     0
last review                       15892
reviews per month                     0
review rate number                    0
calculated host listings count        0
availability 365                      0
has_reviews                           0
dtype: int64

Today’s work focused on turning a raw, messy real-world dataset into a model-ready asset, using decisions aligned with industry data science and AI engineering standards.

We began by auditing missing values column-by-column, instead of blindly filling or dropping data. Each feature was evaluated based on its business meaning, not just data type. For example, last review was intentionally left missing because absence of reviews is meaningful information, not an error. This logic was strengthened by creating a derived feature (has_reviews) to explicitly capture that signal.

Categorical fields such as country code, instant_bookable, and cancellation_policy were filled with "Unknown" rather than forcing incorrect assumptions. This preserves data integrity and reflects real production scenarios where information may be unavailable or withheld.

For numerical but non-continuous fields like Construction year, median imputation was applied to avoid skew while maintaining dataset size. This choice balances statistical soundness with practical modeling needs.

Throughout the process, we avoided data leakage, respected domain context, and made decisions that keep the dataset flexible for EDA, ML modeling, and future feature engineering.

By the end of the day, the dataset reached a clean, explainable, and production-ready state, suitable for:

Regression or classification models

Feature importance analysis

Business-driven insights

Interview-level project discussion